# Environment Files (Strict Protection)
.env*
**/.env*
!**/*.gpg

# Environment Templates (Vault-Protected)
opt/**
!opt/**/
!*.gpg

# Dependencies
node_modules/
vendor/

# IDE/System
.vscode/
.idea/
.DS_Store

# Vault password
.vault_pass
